@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;600;700;800;900&display=swap');

:root {}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}